
<% if user_signed_in? %>

      <ul class="nav nav-fill fixed-top justify-content-center">
        <li class="nav-item">
          <%= link_to image_tag("menu_icon_home.png", class: "menu-icon"), class: "nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to image_tag("menu_icon_search.png", class: "menu-icon"), destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to image_tag("menu_icon_camera.png", class: "menu-icon"), class: "nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to(image_tag("menu_icon_heart.png", class: "menu-icon"), class: "nav-link") %>
        </li>

        <li class="nav-item logout">
          <%= link_to(image_tag("menu_icon_profile.png", class: "menu-icon"), class: "nav-link") %>
        </li>
      </ul>

<% end %>
